<div class="jumbotron">
  <h1>Happiness uploaded</h1>
  <p>Thankyou <%= @signup.first_name %> for sharing your happiness</p>
  <p>
    See so many people spreading and sharing their happiness!!
    <%= link_to ':) :) :)', signups_path %>
  </p>

</div>
